body {

    color: rgb(34, 32, 28);
    margin:0 auto;
    text-align:center; 
    width: auto;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2em;
    background-image: linear-gradient(60deg, #E21143, #FFB03A);
   
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    

}

a {

color: rgb(255, 255, 255);
font-style: italic;

}


.title {
    font-size: 36px;
    text-decoration: underline;

}

h1 {
    font-size: 36px;
    text-transform: uppercase;

}


.sync2 {
    font-size: 20;
    font-family: 'Times New Roman', Times, serif;
    
}

